
BU_*
.settings/
dens_taurus_vap/
2B_MatrixElements/
scripts/__pycache__/
data/__pycache__/
tools/__pycache__/
_legacy/__pycache__/
__pycache__/

.project
.pydevproject
*.zip
*.txt
*.bin
*.dat
*.OUT
*.INP
